.layout {
  margin: auto;
  max-width: 45.5rem;
  padding: 2.625rem 1.3125rem;

  &__header--large {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 2.625rem; 
    margin-top: 0;
  }

  &__header--small {
    font-family: Montserrat, sans-serif;
    margin-top: 0px;
    margin-bottom: -1.75rem;
    color: rgb(179, 0, 0);
  }

  &__link--large {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
  }

  &__link--small {
    box-shadow: none;
    text-decoration: none;
  }
}